body{
    background: -webkit-linear-gradient(left, #dedee4, #dfe8eb);
}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 0.875em;
    letter-spacing: 0.063em;
}

a:hover {
    font-weight: bold;
    color: #fff;
    transform: translateX(5%) translateY(-5%) scaleX(1);
    border-bottom: 2px solid rgb(52, 212, 132);
}