{% extends 'base.html' %}

{% block content %}




{% for standard in standards %}


     
     <div class='container mt-3 bg-dark'
      style="  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);">

<ul>
 <li>

<a href="{% url 'noteSellingApp:course_list' slug=standard.slug %}" class="btn btn-primary" style="background-color:#00bcd4;">
     <h2 style="font-family: 'Montserrat', sans-serif; color: rgb(180, 245, 0);text-shadow:2px 2px black;">

       {{ standard.name }}

    </h2>
</a>
    </div>
 </li>
</ul> 
  


    
    



{% endfor %}



{% endblock  %}